# WordPress/Plugin .gitignore
node_modules/
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
.env
.env.*
.idea/
*.zip
*.tar.gz
*.tar
*.bak
*.orig
*.lock
npm-debug.log
yarn-debug.log
yarn-error.log
